# macOS
.DS_Store

# VSCode 
.vscode/

# PyCharm
.idea/

# Python
__pycache__/
*.egg-info
build
dist

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# C Extension
*.so

# Project
/train/
/models/
/notebook/
release.sh